<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Part Recognition</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Your Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="{{ url_for('index') }}">Part Recognition</a></li>
                <li><a href="{{ url_for('counting') }}">Counting</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </nav>
    
    <h1>Part Recognition</h1>
    
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    
    {% if uploads %}
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Prediction</th>
                </tr>
            </thead>
            <tbody>
                {% for filename, label in uploads %}
                    <tr>
                        <td><img src="{{ url_for('static', filename='uploads/part_recognition/' ~ filename) }}" alt="{{ filename }}" width="100"></td>
                        <td>{{ label }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <!-- Bootstrap JS and dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
